.clients {

  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: var(--hero-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.clients-item {
  width: 100%;
  height: 92px;

  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}
.icon {
  fill: #afb1b8;
  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--link-color);
  }
}
