.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-box {
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.address {
  text-align: center;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.address-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  text-align: center;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (max-width: 1199px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
}

.logo__white {
  color: var(--adress-color);
}

.footer-contacts:not(:last-child) {
  margin-bottom: 8px;
}

.footer__mail {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--link-color);
  }
  color: var(--contacts-color);
}
.footer__tel {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--link-color);
  }
  color: var(--contacts-color);
}

/* ---------------footer-soc----------------- */
.social {
  margin-bottom: 60px;

  @media screen and (max-width: 767px) {
    width: 100%;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer-soc-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  & :not(:last-child) {
    margin-right: 10px;
  }
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}
.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--link-color);
  }
}
.footer-soc-icon {
  fill: #ffffff;
  .footer-soc-link:focus &,
  .footer-soc-link:hover & {
    fill: var(--adress-color);
  }
}

/* ------------------footer-modal--------------------- */
.modal-footer {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }
}
.footer-modal-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.modal-form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
  }
}
.footer-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  outline: transparent;
  color: #ffffff;
  margin-bottom: 20px;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
.footer-btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  margin-left: 12px;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  & :hover,
  & :focus {
    color: #ffffff;
  }
  & :hover {
    background-color: #188ce8;
  }
  & :hover {
    cursor: pointer;
  }
}
.footer-modal-icon {
  margin-left: 10px;
  fill: #ffffff;
}
