.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
// .container {
//   width: 1200px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;
//   /* outline: 1px solid red; */
// }
// .header .container {
//   display: flex;
  
// }
// .nav {
//   display: flex;
//   align-items: center;
// }
// .nav__list {
//   display: flex;
// }
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .nav__list &:hover,
  .nav__list &:focus {
    color: var(--link-color);
  }
}
.nav__link--current::after {
  content: " ";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .nav__list .nav__link & {
    color: var(--link-color);
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--link-color);
  }
  color: var(--contacts-color);
}


.contacts__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--contacts-color);
  &:hover,
  &:focus {
    color: var(--link-color);
  }
}

.contacts__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;

}
.contacts__icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
