.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--portfolio-title);
  margin-bottom: 4px;
  .visually {
    visibility: hidden;
  }
}
.portfolio-filtr {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--button-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover,
  &:active {
    background-color: var(--link-color);
    color: var(--adress-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.button.current {
  background-color: var(--link-color);
  color: var(--adress-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-list .portfolio-filtr {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  color: var(--button-color);
  background-color: #f5f4fa;
}
.flex-item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
}
.portfolio-link {
  display: block;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .action,
  &:focus .action {
    transform: translateY(0%);
    background-color: rgba(33, 150, 243, 0.9);
  }
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--portfolio-text);
}

.portfolio-current {
  color: #ffffff;
  border-radius: 4px;
  background-color: var(--link-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
