:root {

  --hero-color: #ffffff;
  --header-link-color: #212121;
  --contacts-color: #757575;
  --link-color: #2196f3;
  --button-color: #212121;
  --title-color: #212121;
  --text-color: #757575;
  --name-color: #212121;
  --adress-color: #ffffff;
  --portfolio-title: #212121;
  --portfolio-text: #757575;
  --logo-color: #2196f3;
  --icon-color: #afb1b8;
}

